*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 100% ;
    font-family: "Roboto", sans-serif;
}
.slick-prev, .slick-next{
    display: none !important;
  }

a:-webkit-any-link{
    color: #fff;
    cursor: pointer;
    text-decoration: none !important;
}
 