.custom-d-none {
  display: none !important;
}

.p-relative {
  position: relative !important;
  overflow: hidden;
}

.category_card{
  z-index: 50;
}

.overflow-hidden{
  overflow: hidden;
  transition: transform 0.5s ease;
}

@media (max-width: 768px) {
  .d-none {
    display: none !important;
  }
  .custom-d-none {
    display: flex !important;
    padding-top: 5px;
  }
}
.front, .back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	overflow: hidden;
	transition: transform .8s ease;
}

.back {
	transform: rotateY(180deg);
}
.flip-container:hover .front {
	transform: rotateY(-180deg);
}
.flip-container:hover .back {
	transform: rotateY(0deg);
}
