.custom-d-none {
  display: none !important;
}

.p-relative {
  position: relative !important;
  overflow: hidden;
}

@media (max-width: 768px) {
  .d-none {
    display: none !important;
  }
  .custom-d-none {
    display: flex !important;
    padding-top: 5px;
  }
}
